.app-navbar {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;

  .btn {
    align-self: center;
  }
}

.side-nav {
  flex: 0 0 22%;
  width: 500px;
  // min-height: 100vh;
  // position: fixed;
  // top: 0;
  // left: 0;
  // justify-self: ;
  border-top-right-radius: 5rem;
  background-color: var(--color-primary);
  padding: 2rem 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;

    &__icon {
      box-sizing: content-box;
      height: 2.2rem;
      width: 2.2rem;
      fill: currentColor;
    }
  }

  &__link:link,
  &__link:visited {
    color: #fff;
    text-decoration: none;
  }

  &__link__item {
    padding: 4rem;
    color: inherit;
  }

  &__link:hover &__link__item,
  &__link:active &__link__item,
  &__link-active &__link__item {
    background-color: rgba(#fff, 0.2);
  }
}

.note-page {
  height: 100vh;
  width: 100%;
  padding: 5rem;

  .task {
    // background-color: orange;
    width: 100%;
    // height: 00vh;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.RichEditor-controls {
  display: flex;
}

.richtext-editor-container {
  cursor: text;
  min-height: 40vh;
}
