.btn {
  border: none;
  border-radius: 5px;
  padding: 1.2rem 2.5rem;
  font-size: 1.6rem;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &__primary {
    background-color: var(--color-primary);
    color: #fff;

    &:hover {
      background-color: lighten(#52ad9c, 10);
    }
  }

  &__secondary {
    background-color: var(--color-secondary);
    color: #fff;

    &:hover {
      background-color: lighten(#52ad9c, 10);
    }
  }

  &__danger {
    background-color: lighten(#e71d36, 20);
    color: #fff;

    &:hover {
      background-color: lighten(#e71d36, 10);
    }
  }

  &--hover:hover {
    color: var(--color-primary);
  }
  &--active {
    color: var(--color-primary);
  }
}
