.form {
  padding: 1.5rem;

  fieldset {
    border: none;
  }

  &-container {
    border-radius: 10px;
    padding: 3rem;
    background-color: #fff;
  }
  &-label {
    margin: 0.8rem 0;
  }
  &-input {
    width: 100%;
    box-sizing: border-box;
    // border: 1px solid gainsboro;
    border: none;
    background-color: var(--color-lightgrey-1);
    border-radius: 3px;
    padding: 1rem;
    font-size: inherit;
  }

  &-group {
    margin: 1.5rem 0;
  }
}

.heading {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.heading-subtitle {
  font-size: 1.4rem;
  color: #777;
}
