.btn {
  border: none;
  border-radius: 3px;
  padding: 1rem 2rem;
  //   font-size: 1rem;

  &__primary {
    background-color: var(--color-primary);
    color: #fff;
  }

  &__secondary {
    background-color: var(--color-secondary);
    color: #fff;
  }
}
