{
    "root": true,                
    "parserOptions": {
        "ecmaVersion": 2020,    
        "sourceType": "module", 
        "ecmaFeatures": {
            "jsx": true         
        }
    },
    "settings": {
        "react": {
            "version": "detect" 
        }
    },
    "env": {
        "browser": true,
        "amd": true,             
        "node": true             
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:prettier/recommended" 
    ],
    // "extends": ["eslint:recommended"],
    // "plugins": ["react/recommended","jsx-a11y/recommended","prettier/recommended"],
    "rules": {
        "react/prop-types": "off",
        "prettier/prettier": ["error", {
            "endOfLine":"auto"
        }]
    }
}